# TA-Lib
nbdev
jupyter
numpy
scipy
pandas
tqdm
rich
joblib
pyarrow
typeguard
numerapi
lightgbm
catboost
tensorflow
scikit-learn
python-dateutil
pandas-profiling
google-cloud-storage

# Pre commit hooks
nbqa
nb-black
pre-commit
