nbdev
jupyter
numpy
scipy
pandas
tqdm
rich
joblib
pyarrow
typeguard
numerapi
lightgbm
catboost~=1.0.4
scikit-learn
python-dateutil
google-cloud-storage
# TA-Lib

# Pre commit hooks
nbqa
nb-black
pre-commit
