# TA-Lib
eod
wandb
nbdev
jupyter
numpy
scipy
pandas
tqdm
rich
kaggle
joblib
pyarrow
typeguard
numerapi
numerbay
lightgbm
catboost
codetiming
umap-learn
scikit-learn
finnhub-python
python-dateutil
pandas-profiling
pandas-datareader
google-cloud-storage

# Pre commit hooks
nbqa
nb-black
